.clock {
  display: flex;
  flex-direction: column;
  align-items: center;

  &Img {
    position: relative;
    display: flex;
    color: var(--color-secondary);
    font-size: 20rem;

    .fill {
      position: absolute;
      top: 54.1%;
      left: 50%;
      max-width: 58.5%;
      max-height: 58.5%;
      background-color: var(--color-primary);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: all 1s linear;
      opacity: 0.5;
    }

    &.done {
      animation: shake 1s linear;

      @keyframes shake {
        5% {
          transform: rotate(-10deg) scale(1.2);
        }

        12.5% {
          transform: scale(1);
        }

        25% {
          transform: rotate(10deg) scale(1.2);
          color: var(--color-primary);
        }

        37.5% {
          transform: scale(1);
        }

        50% {
          transform: rotate(-10deg) scale(1.2);
        }

        62.5% {
          transform: scale(1);
        }

        75% {
          transform: rotate(10deg) scale(1.2);
          color: var(--color-secondary);
        }

        87.5% {
          transform: scale(1);
        }

        100% {
          transform: rotate(0deg);
        }
      }
    }
  }

  &Time {
    display: flex;
    gap: 1rem;
    color: var(--color-primary);
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    text-shadow: 1px 1px 1px var(--color-overlay);

    .minutes,
    .seconds {
      display: flex;
      background: radial-gradient(
        ellipse,
        #c0c0c0 0%,
        #c0c0c0cc 50%,
        #c0c0c080 100%
      );
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 0 0 1rem var(--color-shadow);

      div {
        display: flex;
        flex-direction: column;
        height: 5rem;
        overflow: hidden;

        span {
          width: 3.5rem;
          text-align: center;
          transform: translateY(-5rem);
        }

        .tick {
          transform: translateY(0);
          transition: transform 200ms ease-in;
        }
      }
    }

    &.mini {
      flex-direction: column;
      gap: 0;
      width: 3.8rem;
      height: 3.8rem;
      font-size: 1.9rem;
      background: radial-gradient(
        ellipse,
        #c0c0c0 0%,
        #c0c0c0cc 50%,
        #c0c0c080 100%
      );
      border-radius: 1rem;

      .minutes,
      .seconds {
        justify-content: center;
        background: none;
        padding: 0;
        border-radius: 0;
        box-shadow: none;

        div {
          height: 1.9rem;

          span {
            width: 1.3rem;
            transform: translateY(-1.9rem);
          }

          .tick {
            transform: translateY(0);
            transition: transform 200ms ease-in;
          }
        }
      }

      &.done {
        animation: flash 1s linear;

        @keyframes flash {
          0% {
            color: var(--color-secondary);
          }

          25% {
            color: var(--color-primary);
            transform: scale(1.1);
          }

          50% {
            color: var(--color-secondary);
            transform: scale(1);
          }

          75% {
            color: var(--color-primary);
            transform: scale(1.1);
          }

          100% {
            color: var(--color-secondary);
            transform: scale(1);
          }
        }
      }
    }
  }
}
