.garden {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;

  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      text-align: center;
    }

    .user {
      font-weight: bold;
    }
  }

  .yard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
