.navbar {
  position: fixed;
  top: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--color-nav);
  padding: 0.5rem;
  border: 0.25rem solid var(--color-alt-4);
  border-radius: 1rem;

  a,
  button {
    display: flex;
    font-size: 3rem;
    color: var(--color-alt-2);
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}
