.task {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > button {
    display: flex;
    font-size: 2rem;
  }

  .btnInfo {
    color: var(--color-info);
  }

  .btnDelete {
    color: var(--color-danger);
  }
}
