.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;

  .intro {
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-style: italic;

    h1 {
      font-size: 4rem;
      color: var(--color-primary);
      text-shadow: 0.1rem 0 0.1rem var(--color-shadow);
    }

    h2 {
      font-size: 2rem;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
  }
}
